<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/> 
</head>
<body>
    <!-- Header  -->
    <header class="header">
          <i class="fas fa-shopping-basket"></i> Almacén
    </header>
        <h1 class="heading">Que bueno que te registraste <span>{{usuario.nombre}}</span>!</h1>
        <h1 class="heading">Ya puedes realizar tu primera compra ingresando al siguiente link</h1>

        <a href="http://127.0.0.1:8000/inicio/compra/" class="btn pagar">Confirmar Compra</a>
</body>
</html>