
{% load inlinecss %}
{% inlinecss "css/style-email.css" %}
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/> 
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo"> Almacén</a>
        </header>
            <h1 class="heading">El usuario <span>{{usuario.nombre}}</span> ha realizado un pedido!!</h1>
            <h1 class="heading">Para ver detalles, entra al panel del control en el siguiente link:</h1>
    
            <a href="http://127.0.0.1:8000/dashboard/pedidos/{{id_pedido}}" class="btn pagar">Revisar Pedido</a>
    </body>
</html>
{% endinlinecss %}